.button-main {
  border: 0;

  &:hover,
  &:focus {
    color: #6cb71d;
    background-color: #ffffff;
    border: solid 1px #6cb71d;
    transition: 0.5s ease;
  }

  &:not(:hover),
  &:not(:focus) {
    transition: 0.5s ease;
  }
}