.main-header {
  background-color: #ffffff;
  min-height: 142px;
  width: 100%;
  font-family: "Roboto";
  font-weight: 600;
}

body {
  padding: 0;
  margin: 0;
}

.main-header__container {
  min-height: 100%;
}

.main-header__navigation {
  min-height: 65px;
}